*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
    border-bottom: 1px solid black;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.nav-logo-box{
    background-color: royalblue;
    height: 55px;
    width: 55px;
    padding-top: 18px;
    text-align: center;
}
.nav-logo{
    width: 45px;
}
.nav-icon{
    color: royalblue;
    font-size: 1.4rem;
    cursor: pointer;
}